@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
	--color-primary: #7749F8;
	--color-secondary: #f8f9fa;
	--color-nav: #8540f5;
	--color-background: #f1f1f1;
	--color-danger: #dc3545;
	/* #F8D7DA #EA868F #58151C */
	--color-text: #343a40;
	--border-radius: 8px;
	--font-weight-bold: 700;
	--font-weight-semi-bold: 500;
	--font-weight-regular: 300;
}
*{
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	font-family: "Inter", sans-serif;
	margin: 0 auto;
	header {
		width: 100%;
		height: 8%;
		nav {
			display: flex;
			align-items: flex-end;
			width: 100%;
			height: 100%;
			background-color: var(--color-nav);
			color: var(--color-secondary);
			.nav-item {
				padding: 1rem;
			}
			.nav-item-title {
				color: #ffffff;
				font-weight: var(--font-weight-bold);
				font-size: 1.25rem;
			}
		}
	}
	main {
		background-color: var(--color-background);
		color: var(--color-text);
		height: 92%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.calculator {
			background-color:#ffffff;
			color: var(--color-text);
			width: 60%;
			padding: 2rem;
			border-radius: var(--border-radius);
			border: 1px solid #dee2e6;
			display: flex;
			flex-direction: column;
			.calculator-title {
				font-weight: var(--font-weight-bold);
				font-size: 2.5rem;
				margin-bottom: 2rem;
			}
			.calculator-form {
				font-size: 1.5rem;
				font-weight: var(--font-weight-regular);
				margin-bottom: 2rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				input {
					border: 1px solid #dee2e6;
					border-radius: var(--border-radius);
					height: 2.4rem;
					width: 4.25rem;
					margin: 0 1rem;
					padding: 0 1rem;
					box-sizing: border-box;
					color: #adb5bd;
				}
				span {
					font-weight: var(--font-weight-bold);
				}
				.reset-btn{
					display: flex;
					align-items: center;
					width:6.8rem;
					height:2.75rem;
					justify-content: space-between;
					font-weight: var(--font-weight-bold);
					font-size: 1rem;
					color:var(--color-primary);
					background-color: transparent;
					border: 1px solid var(--color-primary);
					border-radius: var(--border-radius);
					padding: 0.5rem 1rem;
					cursor: pointer;
				}
			}
			.calculator-result {
				font-size: 2rem;
				font-weight: var(--font-weight-bold);
				text-decoration: underline;
				align-self: center;
			}
			.loading {
				width: 4rem;
				height: 4rem;
				border: 8px solid var(--color-primary);
				border-bottom-color: transparent;
				border-radius: 50%;
				flex-shrink: 0;
				align-self: center;
				animation: rotation 1s linear infinite;
				}
			.hidden{
				display: none;
			}
		}
	}
}



    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 