@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
	--color-primary: #7749f8;
	--color-secondary: #f8f9fa;
	--color-nav: #8540f5;
	--color-background: #f1f1f1;
	--color-danger: #dc3545;
	/* #F8D7DA #EA868F #58151C */
	--color-text: #343a40;
	--border-radius: 15px;
	--font-weight-bold: 700;
	--font-weight-semi-bold: 600;
	--font-weight-regular: 400;
}
* {
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0 auto;
	width: 100vw;
	min-height: 100vh;
	font-family: "Inter", sans-serif;
	margin: 0 auto;
	header {
		width: 100%;
		height: 8%;
		nav {
			display: flex;
			align-items: flex-end;
			width: 100%;
			height: 100%;
			background-color: var(--color-nav);
			color: var(--color-secondary);
			.nav-item {
				padding: 1rem;
			}
			.nav-item-title {
				color: #ffffff;
				font-weight: var(--font-weight-bold);
				font-size: 1.25rem;
			}
		}
	}
	main {
		background-color: var(--color-background);
		color: var(--color-text);
		height: 92%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.hidden {
			display: none;
		}
		.calculator {
			margin-top: 2rem;
			background-color: #ffffff;
			color: var(--color-text);
			width: 80%;
			height: 20rem;
			padding: 2rem;
			border-radius: var(--border-radius);
			border: 1px solid #dee2e6;
			display: flex;
			flex-direction: column;
			.calculator-title {
				font-weight: var(--font-weight-bold);
				font-size: 2.5rem;
				margin-bottom: 2rem;
			}
			.calculator-form {
				font-size: 1.5rem;
				font-weight: var(--font-weight-regular);
				margin-bottom: 2rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				input {
					border: 1px solid #dee2e6;
					border-radius: 8px;
					height: 2.4rem;
					width: 4.25rem;
					margin: 0 1rem;
					padding: 0 1rem;
					box-sizing: border-box;
					color: #adb5bd;
				}
				input[type="number"]::-webkit-inner-spin-button,
				input[type="number"]::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				span {
					font-weight: var(--font-weight-bold);
				}
				.reset-btn {
					display: flex;
					align-items: center;
					width: 6.8rem;
					height: 2.75rem;
					justify-content: space-between;
					font-weight: var(--font-weight-bold);
					font-size: 1rem;
					color: var(--color-primary);
					background-color: transparent;
					border: 1px solid var(--color-primary);
					border-radius: 8px;
					padding: 0.5rem 1rem;
					cursor: pointer;
				}
				.warning {
					border: 1px solid #ea868f;
					box-shadow: 0px 0px 0px 3px #dc354533;
				}
			}
			.calculator-result {
				font-size: 2rem;
				font-weight: var(--font-weight-bold);
				text-decoration: underline;
				align-self: center;
				line-height: 4rem;
				height: 4rem;
			}
			.loading {
				width: 4rem;
				height: 4rem;
				border: 8px solid var(--color-primary);
				border-bottom-color: transparent;
				border-radius: 50%;
				flex-shrink: 0;
				align-self: center;
				animation: rotation 1s linear infinite;
			}
			.error {
				width: 100%;
				height: 3rem;
				line-height: 3rem;
				padding: 0 1rem;
				border-radius: 8px;
				font-size: 0.75rem;
				background-color: #f8d7da;
				color: #58151c;
				border: 1px solid #ea868f;
			}
			.save-calc{
				
				margin:0.5rem 0;
				margin-top: auto;
				display: flex;
				color: var(--color-text);
				input[type="checkbox"] {
					margin-right:0.5rem ;
					width: 1rem;
					height: 1rem;
					border: 1px solid #ABB5BE;
					border-radius: 2px;
					cursor: pointer;						
				}
				input[type="checkbox"]:checked {
					filter: hue-rotate(400deg); 
				}
			}
		}
		.prevoius-results {
			position: relative;
			top: -20px;
			background-color: #ffffff;
			color: var(--color-text);
			width: 80%;
			padding: 2rem;
			border-radius: var(--border-radius);
			border: 1px solid #dee2e6;
			color: var(--color-text);
			.prevoius-results-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.title {
					font-size: 2.5rem;
					margin-bottom: 1rem;
					font-weight: var(--font-weight-bold);
				}
				.sort-selector{
					font-size: 1rem;
					display: flex;
					align-items: center;
					input[type="radio"] {
						appearance:none;
						margin: 0 0.5rem;
						width: 1rem;
						height: 1rem;
						border: 1px solid #ABB5BE;
						border-radius: 50%;
						cursor: pointer;						
					}
					input[type="radio"]:checked {
						border: 5px solid var(--color-primary);
						background-color: #ffffff;
					}
				}
			}
			.prevoius-results-content {
				.prevoius-results-line {
					display: flex;
					font-size: 1.5rem;
					width: 100%;
					margin: 0.8rem 0;
					justify-content: space-between;
					font-weight: var(--font-weight-regular);
					.result {
						span {
							font-weight: var(--font-weight-semi-bold);
						}
					}
					.result-time {
					}
				}
			}
		}
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
